.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: ghostwhite;
    border-radius: 20px;
    width: 1000px;
    margin: 30px auto;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.leftBox1 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

.leftBox2 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

.leftBox3 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

.rightBox1 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

.rightBox2 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

.rightBox3 {
    background-color: ghostwhite;
    margin: 0 70px 0 70px;
}

p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

h2 {
    font-family: SplineSansMono, sans-serif;
    font-size: 16px;
    color: #5481a5;
}

.education {
    font-weight: bold;
    font-family: SplineSansMono, sans-serif;
    font-size: 14px;
}

.icon {
    color: black;
    font-size: 50px;
    padding: 5px;
    cursor: pointer;
}

.image {
width: 50%;
}

.imageBox {
    text-align: center;
}